/** Header Nav CSS **/

#navHeader {
    height: 8vh;
    background: linear-gradient(rgb(34, 34, 34) 1%, rgb(4, 4, 4) 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 2;
    cursor: pointer;
    transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -ms-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

.nav-links a,
.nav-links button {
    font-family: "Quicksand", sans-serif;
    color: #e5e5e5;
    font-size: 0.87rem;
    text-decoration: none;
    font-weight: lighter;
}

.nav_link_box {
    padding: 4px 10px;
    transition: 0.15s linear;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
}

.nav_section_link {
    display: flex;
    align-items: center;
}

/** .nav_link_box:hover {
    background: #242424;
} **/

.nav_section_link img,
#menuLink img,
#dropdownMenu2 img,
.dropdown-item img {
    width: 28px !important;
    padding: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#dropdownMenu2 {
    display: flex;
    align-items: center;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
}

.dropdown-menu {
    background-image: linear-gradient(rgb(34, 34, 34) 1%, rgb(4, 4, 4) 100%);
    color: #e5e5e5;
    width: 200px;
}

.dropdown-item,
#menuLink {
    padding: 8px 14px;
    background: transparent;
    border: none;
}

.dropdown-menu li a {
    font-size: 0.85rem;
}

.dropdown-item:hover,
.dropdown-menu li:hover {
    background-image: linear-gradient(to left, #0d0d0d 50%, #1c1b1b 100%);

    color: #e5e5e5;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
}

.logout-btn {
    color: #e5e5e5;
}

#logo {
    padding: 6px 12px;
}

.part1 {
    padding: 0;
}

/** Header Banner **/

.banner {
    position: absolute;
    padding: 8vh 0;
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    font-family: "Bebas Neue", cursive;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000f0;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 97.5vh;
    mix-blend-mode: darken;
}
