@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400|Poppins:300,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Exo 2", sans-serif;
}

body {
    background: rgb(20, 20, 20);
    color: #e5e5e5;
}

.main_wrapper {
    margin-top: 8vh;
}

section {
    min-height: 100vh;
    padding: 60px 30px;
}

.btn {
    background: transparent;
    color: #e5e5e5;
    font-weight: lighter;
    transition: Os linear;
    -webkit-transition: Os linear;
    -moz-transition: Os linear;
    -ms-transition: Os linear;
    -o-transition: Os linear;
}

.btn-blue:hover {
    border: 1px solid #00d9ff;
    box-shadow: 0 0 4px #00d9ff83, 0 0 8px #00d9ffb9, 0 0 14px #00d9ff;
    color: #e5e5e5;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.btn-pink:hover {
    border: 1px solid #ff6eff;
    box-shadow: 0 0 4px #ff6eff48, 0 0 8px #ff6eff79, 0 0 14px #ff6eff;
    color: #e5e5e5;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.btn-yellow:hover {
    border: 1px solid #ffff66;
    box-shadow: 0 0 4px #ffff6648, 0 0 8px #ffff667c, 0 0 14px #ffff66;
    color: #e5e5e5;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

/** Progress Scrolling Bar **/

::-webkit-scrollbar {
    width: 0;
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    border-radius: 4px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    z-index: 3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/** TinyMce **/

.tox-notifications-container {
    display: none;
}

.tox-tinymce {
    height: 100% !important;
    border-radius: 0.25rem !important;
    -webkit-border-radius: 0.25rem !important;
    -moz-border-radius: 0.25rem !important;
    -ms-border-radius: 0.25rem !important;
    -o-border-radius: 0.25rem !important;
}

.tox-menubar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tox-statusbar {
    display: none !important;
}

.blue {
    background: #00d8ff;
}

.deepPink {
    background: #ff00cc;
}

.lime {
    background: #68f700;
}

.yellow {
    background: #ffff66;
}

.jeans {
    background: #5dadec;
}

.clearPink {
    background: #ff6eff;
}

.orange {
    background: #ff9933;
}

.test {
    height: 100vh;
    background: gainsboro;
}

/** Modal **/

.modal-content {
    background: #272727;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 1px solid #00d9ff;
    box-shadow: 0 0 4px #00d9ff83, 0 0 8px #00d9ffb9, 0 0 20px #00d9ff;
    color: #e5e5e5;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal_form .form-group input {
    background: #ffffff1c !important;
    color: #fff !important;
}

.nav-link.active {
    background: #00d9ff !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.nav-link {
    background: #272727 !important;
}

#infoText {
    z-index: 2;
    position: absolute;
    top: 8vh;
    width: 100%;
    text-align: center;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#pagination a {
    padding: 6px 10px;
    background: #66fcf1;
    margin: 6px 10px;
    border-radius: 2px;
    text-decoration: none;
}

#formTest {
    display: flex;
    flex-direction: column;
}

.section_h1_titles {
    text-align: center;
    margin: 2rem 1.25rem;
}

.section_h1_titles hr {
    background: aqua;
    width: 160px;
    margin-left: calc(50% - 80px);
}

#fileField {
    display: none;
}

.signal_form {
    border: 1px solid #00ffff36;
    border-radius: 10px;
    padding: 20px 30px;
}

/** Post View Css **/

/** Dashboard **/

.dashboard_article_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.dashboard_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin-left: 5%;
    margin: 15px 10px;
    border: 1px solid #fff3;
    padding: 20px 30px;
    border-radius: 4px;
}

.dashboard_inset_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.dasboard_inset1 {
    flex: 1;
}

.dashboard_inset2 {
    flex: 1.5;
}
