* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: rgb(20, 20, 20);
    color: #fff;
}

.main_wrapper {
    margin-top: 10vh;
}

section {
    padding: 70px 30px;
    min-height: 100vh;
}

/** Progress Scrolling Bar **/

::-webkit-scrollbar {
    width: 0;
}

#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    border-radius: 4px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    z-index: 3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/** TinyMce **/

.tox-notifications-container {
    display: none;
}

.tox-tinymce {
    height: 100% !important;
    border-radius: 0.25rem !important;
    -webkit-border-radius: 0.25rem !important;
    -moz-border-radius: 0.25rem !important;
    -ms-border-radius: 0.25rem !important;
    -o-border-radius: 0.25rem !important;
}

.tox-menubar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tox-statusbar {
    display: none !important;
}

.blue {
    background: #00d8ff;
}

.deepPink {
    background: #ff00cc;
}

.lime {
    background: #68f700;
}

.yellow {
    background: #ffff66;
}

.jeans {
    background: #5dadec;
}

.clearPink {
    background: #ff6eff;
}

.orange {
    background: #ff9933;
}

.test {
    height: 100vh;
    background: gainsboro;
}

/** Modal **/

.modal-content {
    background: #272727;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 2px solid #5dadec;
}

.modal_form .form-group input {
    background: #ffffff1c !important;
    color: #fff !important;
}

.nav-link.active {
    background: #5dadec !important;
}

.nav-link {
    background: #272727 !important;
}

#infoText {
    z-index: 2;
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
}

#pagination a {
    padding: 6px 10px;
    background: #66fcf1;
    margin: 6px 10px;
    border-radius: 2px;
    text-decoration: none;
}
